@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  text-align: center;
}

html:not([dir]) code {
  unicode-bidi: plaintext;
}

code {
  white-space: pre-wrap;
  word-wrap: break-word;
}
