<%inherit file="base.html"></%inherit>

<%block name="title">Gubby - Alternative GitHub front-end interface</%block>

<%block name="content">
  <pre>
    gubby(1)                                   gubby                                   gubby(1)

    NAME
      
    gubby - GitHub in command-line interface.

    SYNOPSIS

    ${host_url}USER
    ${host_url}OWNER/REPO

    DESCRIPTION

    gubby is a open-source, self-hostable service that allows you to view GitHub profiles and repositories
    with a man page-like display.

    gubby takes a lot of influence in design from ix (http://ix.io/).

    NOTES

    * Gubby use '*' in null/empty fields.

    ABOUT

    gubby is developed entirely by Dang Hoang Tuan (@HoangTuan110 on GitHub). An open-source project from Vietnam.
    
    SAUCE?

    https://github.com/HoangTuan110/gubby
  </pre>
</%block>
