<%inherit file="base.html"></%inherit>

<%block name="content">
  <pre>
    gubby(1)                                   gubby                                   gubby(1)

    NAME
      
    gubby - GitHub in man-page display.

    SYNOPSIS

    ${host_url}USER
    ${host_url}OWNER/REPO

    DESCRIPTION

    gubby is a open-source, self-hostable service that allows you to view GitHub profiles and repositories
    with a man page-like display.

    gubby takes a lot of influence in design from <a href="https://ix.io">ix</a> and man pages.

    NOTES

    * Gubby use '*' in null/empty fields.

    ABOUT

    gubby is developed entirely by <a href="https://tsk.bearblog.dev">Dang Hoang Tuan</a>. An open-source project from Vietnam.
    gubby is not associated with GitHub in any way, though it uses <a href="https://docs.github.com/en/rest/guides/getting-started-with-the-rest-api">GitHub's REST API</a>.

    SAUCE?

    <a href="https://github.com/HoangTuan110/gubby">Here</a>
  </pre>
</%block>
