<%inherit file="base.html"></%inherit>

<%block name="content">
  <pre>
    ${repo["name"]}(1)                                   ${repo["full_name"]}                                   ${repo["name"]}(1)

    DESCRIPTION
      
    ${repo["description"] if repo["description"] else "*"}
    --------------------
    ${repo["stargazers_count"]} stargazers, ${repo["subscribers_count"]} watchers and ${repo["forks_count"]} forks.
    ${repo["open_issues"]} open issues.
    This repo is under the <a href=${repo["license"]["url"]}>${repo["license"]["name"]}</a>.

    % if repo["homepage"]:
    <a href=${repo["homepage"]}>HOMEPAGE</a>
    % endif
    <a href=${repo["html_url"]}>REPO</a>
  </pre>
</%block>
