<%inherit file="base.html"></%inherit>

<%block name="content">
  <pre>
    ${repo["name"]}(1)                                   ${repo["full_name"]}                                   ${repo["name"]}(1)

    DESCRIPTION
      
    ${repo["description"] if repo["description"] else "*"}
    --------------------
    ${repo["stargazers_count"]} stargazers, ${repo["subscribers_count"]} watchers and ${repo["forks_count"]} forks.

    <a href=${repo["html_url"]}?tab=repositories>REPO</a>
  </pre>
</%block>
