<%inherit file="base.html"></%inherit>

<%block name="content">
  <pre>
    ${user["login"]}(1)                                   ${user["name"]}                                   ${user["login"]}(1)

    BIO
      
    ${user["bio"] if user["bio"] else "*"}
    --------------------
    ${user["followers"]} followers, ${user["following"]} following.
    ${user["public_repos"]} public repositories, ${user["public_gists"]} public gists.

    LOCATION
      
    ${user["location"] if user["location"] else "*"}

    WEBSITE

    ${f'<a href={user["blog"]}>{user["blog"]}</a>' if user["blog"] else "*"}

    TWITTER

    ${f"<a href=https://twitter.com/{user['twitter_username']}>@{user['twitter_username']}</a>" if user["twitter_username"] else "*"}

    <a href=${user["html_url"]}?tab=repositories>REPO</a>

    <a href=https://gist.github.com/${user["login"]}>GIST</a>
  </pre>
</%block>
